<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
</head>
<body>
<div class="container">
    <form
            action="/create"
            method="post"
            style="margin-top: 15%"
    >
        <div class="form-group">
                <label for="name">Tên</label>
                <input type="text" id="studentname" name="studentname" multiple />
        </div>
        <div class="form-group">
                <label for="studentid">id</label>
                <input type="text" id="studentid" name="studentid" multiple />
        </div>
        <div class="form-group">
                <label for="name">điểm lý thuyết</label>
                <input type="text" id="scorelt" name="scorelt   " multiple />
        </div>
        <div class="form-group">
            <label for="name">Điểm thực hành</label>
            <input type="text" id="scoreth" name="scoreth" multiple />
        </div>
            <div class="form-group">
                <label for="name">mô tả</label>
                <input type="text" id="access" name="access" multiple />
            </div>
        <div class="form-group">
            <label for="price">đánh giá</label>
            <input type="text" id="description" name="description" />
        </div>
        <div class="form-group">
            <label for="quantity">lớp</label>
            <input type="number" id="class" name="class" />
        </div>
        <button class="btn btn-primary">Add</button>
    </form>
</div>
</body>
</html>



